
.app-container {  
    display: grid;
    justify-content: center;
    padding-bottom: 1000px;
}

.form-title {
    color:#ffffff;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 300%;
}

form {
    margin-top: 50%;
}

.form-label {
    margin-top: 20px;
    height: 25px;
    color: white;
}

.form-control {
    width: 400px !important;
}

.btn {
    padding-top: 10px;
    margin-top: 30px;
}

.buttons-login {
    display: flex;
    justify-content: space-evenly;
}