.director-view {
    margin-top: 10%;
    background-color: gray;
    color: white;
    margin: auto;
    margin-bottom: 10%;
}

.director-description{
color: white;
}

.returnButton {
    margin-top: 5%;
    margin-bottom: 5%;
}

.director-name {
    margin-top: 20%;
    background-color: silver;
    color: white;
}
